@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using LMS_Project.Models
    @using LMS_Project.Logics
    @using Microsoft.AspNetCore.Http
    @using Newtonsoft.Json
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                <div class="logo">
                    <a href="/home/index">
                        <img src="http://exprostudio.com/html/book_library/images/logo.png"
                             alt="logo" />
                    </a>
                </div>
            </div>
            <div class="col-lg-8 d-none d-lg-block">
                <nav class="mainmenu__nav">
                    <ul class="meninmenu d-flex justify-content-start">
                        <li class="drop with--one--item" style="margin-left: 30px">
                            <a href="/home/index">Home</a>
                        </li>
                        <li class="drop">
                            <a href="/home/booklist">Books</a>
                            <div class="megamenu mega03">
                                @foreach (BookCategory bc in ViewBag.BCate)
                                {
                                    <ul class="item item03">
                                        <li class="title">@bc.BCateName</li>
                                        @{HomeLogics hl = new HomeLogics();}
                                        @{List<Book> books = hl.GetAllBByBCateId(bc.BCateId);}
                                        @foreach (Book b in books)
                                        {
                                            <li><a href="/home/bookdetail/@b.BId">@b.BName</a></li>
                                        }
                                    </ul>
                                }
                            </div>
                        </li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                <ul class="header__sidebar__right d-flex justify-content-end align-items-center">
                    <li class="shopcart">
                        <a class="cartbox_active" href="#"><span class="product_qun">1</span></a>
                        <!-- Start Shopping Cart -->
                        <!--<div class="block-minicart minicart__active">
                            <div class="minicart-content-wrapper">
                                <div class="micart__close">
                                </div>
                                <div class="items-total d-flex justify-content-between">
                                    <span>1 items</span>
                                    <span>Cart Subtotal: $66.00</span>
                                </div>
                                <div class="mini_action checkout">
                                    <a class="checkout__btn" href="#">Go to Checkout</a>
                                </div>
                                <div class="single__items">
                                    <div class="miniproduct">-->
                        @*mt--20*@
                        <!--<div class="item01 d-flex">
                                            <div class="thumb">
                                                <a href="#">
                                                    <img src="images/product/sm-img/1.jpg" alt="product" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h6>
                                                    <a href="#">Book 1</a>
                                                </h6>
                                                <span class="price">$30.00</span>
                                                <div class="product_price d-flex justify-content-between">
                                                    <span class="qun">Qty: 01</span>
                                                    <ul class="d-flex justify-content-center">
                                                        <li>
                                                            <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mini_action cart">
                                    <a class="cart__btn" href="#">View and edit cart</a>
                                </div>
                            </div>
                        </div>-->
                        <!-- End Shopping Cart -->
                    </li>
                    <li class="setting__bar__icon">
                        <a class="setting__active"></a>
                        <div class="searchbar__content setting__block">
                            <div class="content-inner">
                                <div class="switcher-currency">
                                    @{ string json = HttpContextAccessor.HttpContext.Session.GetString("user");
                                        User u = null;}
                                    @if (json != null)
                                    {
                                        u = JsonConvert.DeserializeObject<User>(json);
                                    }
                                    <strong class="label switcher-label">
                                        @if (u == null)
                                        {
                                            <span>Account</span>
                                        }
                                        @if (u != null)
                                        {
                                            <span>Hello, @u.UUsername</span>
                                        }
                                    </strong>
                                    <div class="switcher-options">
                                        <div class="switcher-currency-trigger">
                                            @if (u == null)
                                            {
                                                <div class="setting__menu">
                                                    <span>
                                                        <a href="/home/log_reg/log">Login</a>
                                                    </span>
                                                    <span>
                                                        <a href="/home/log_reg/reg">Register</a>
                                                    </span>
                                                </div>
                                            }
                                            @if (u != null)
                                            {
                                        <div class="setting__menu">
                                            @if (u.RId == 2)
                                            {
                                                <span>
                                                    <a href="#">My Book</a>
                                                </span>
                                            }
                                            @if (u.RId == 1)
                                            {
                                                <span>
                                                    <a href="#">My Management</a>
                                                </span>
                                            }
                                            @if (u.RId == 4)
                                            {
                                                <span>
                                                    <a href="#">My Management</a>
                                                </span>
                                            }
                                            <span>
                                                <a href="/home/profile">Profile</a>
                                            </span>
                                            <span>
                                                <a href="/home/changepass">Change Password</a>
                                            </span>
                                            <span>
                                                <a href="/home/log_reg/out">Logout</a>
                                            </span>
                                        </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Start Mobile Menu -->
        <div class="row d-none">
            <div class="col-lg-12 d-none">
                <nav class="mobilemenu__nav">
                    <ul class="meninmenu">
                        <li>
                            <a href="/home/index">Home</a>
                        </li>
                        <li>
                            <a href="/home/booklist">Books</a>
                            @foreach (BookCategory bc in ViewBag.BCate)
                            {
                                <ul class="item item03">
                                    <li class="title" style="margin-left:10%">@bc.BCateName</li>
                                    @{HomeLogics hl = new HomeLogics();}
                                    @{List<Book> books = hl.GetAllBByBCateId(bc.BCateId);}
                                    @foreach (Book b in books)
                                    {
                                        <li><a href="/home/bookdetail/@b.BId">@b.BName</a></li>
                                    }
                                </ul>
                                break;
                            }
                        </li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- End Mobile Menu -->
        <div class="mobile-menu d-block d-lg-none"></div>
        <!-- Mobile Menu -->
    </div>
}
