@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using LMS_Project.Models
    @using LMS_Project.Logics
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>My Borrowed</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Css link -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
              rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800"
              rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
              rel="stylesheet" />
        <link rel="stylesheet"
              href="https://htmldemo.net/boighor/boighor/css/bootstrap.min.css" />
        <link rel="stylesheet"
              href="https://htmldemo.net/boighor/boighor/css/plugins.css" />
        <link rel="stylesheet"
              href="https://htmldemo.net/boighor/boighor/css/style.css" />
        <link rel="stylesheet"
              href="https://htmldemo.net/boighor/boighor/css/custom.css" />
        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
        <style>
            .btn {
                width: 22%;
                height: 40px;
                margin: 0 auto;
                justify-content: center;
                display: block;
                color: #fff;
                background: #573b8a;
                font-size: 1em;
                font-weight: bold;
                margin-top: 20px;
                outline: none;
                border: none;
                border-radius: 5px;
                transition: 0.2s ease-in;
                cursor: pointer;
            }

                .btn:hover {
                    background: #6d44b8;
                    color: #fff;
                }
        </style>
    </head>
    <body>
        <div class="wrapper" id="wrapper">
            <header id="wn__header" class="oth-page header__area header__absolute sticky__header">
                @{Html.RenderPartial("~/Views/Index/Header.cshtml");}
            </header>
            <div class="ht__breadcrumb__area bg-image--5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb__inner text-center">
                                <h2 class="breadcrumb-title">My Borrowed</h2>
                                <nav class="breadcrumb-content">
                                    <a class="breadcrumb_item" href="/home/index">Home</a>
                                    <span class="brd-separator">/</span>
                                    <span class="breadcrumb_item active">My Borrowed</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-main-area section-padding--lg bg--white">
                @if (ViewBag.MyBorrow == null)
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="shop__list__wrapper d-flex flex-wrap flex-md-nowrap justify-content-center">
                                <p>Showing 0 of results</p>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 ol-lg-12">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="shop__list__wrapper d-flex flex-wrap flex-md-nowrap justify-content-center">
                                            <p>Showing @(ViewBag.MiniSize != null? ViewBag.MiniSize:"0") of @(ViewBag.TotalSize != null? ViewBag.TotalSize : "0") results</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-content wnro__table table-responsive">
                                    <table>
                                        <thead>
                                            <tr class="title-top">
                                                <th class="product-name">Name</th>
                                                <th class="product-thumbnail">Image</th>
                                                <th class="product-quantity">Quantity</th>
                                                <th class="product-price">Price</th>
                                                <th class="product-subtotal">Date borrowed</th>
                                                <th class="product-subtotal">Date shipping</th>
                                                <th class="product-subtotal">Order Status</th>
                                                <th class="product-subtotal">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (MyBorrowed mb in ViewBag.MyBorrow)
                                            {
                                            <tr>
                                                <td class="product-name">
                                                    <a href="/home/bookdetail/@mb.Book.BId">@mb.Book.BName</a>
                                                </td>
                                                <td class="product-thumbnail">
                                                    <a href="/home/bookdetail/@mb.Book.BId">
                                                        <img src="@mb.Book.BImg"
                                                             alt="product" />
                                                    </a>
                                                </td>
                                                <td class="product-quantity">
                                                    <input type="text" value="@mb.BorrowDetail.Quantity" disabled />
                                                </td>
                                                <td class="product-price">
                                                    <span class="amount">$@String.Format("{0:0.00}", @mb.BorrowDetail.Price)</span>
                                                </td>
                                                <td class="product-subtotal">
                                                    @mb.Borrow.BrDate
                                                </td>
                                                <td class="product-subtotal">
                                                    @mb.Borrow.BrResend
                                                </td>
                                                <td class="product-subtotal">
                                                    @(mb.Borrow.BrResend.Value.CompareTo(DateTime.Now) > 0? "Processing":"Have done")
                                                </td>
                                                <td class="product-subtotal">$@String.Format("{0:0.00}", @mb.BorrowDetail.Total)</td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <ul class="wn__pagination my-3">
                                        @if (ViewBag.NumPage > 1 && ViewBag.PageCur > 1)
                                        {
                                            <li>
                                                <a href="/borrow/index/@(ViewBag.PageCur - 1)"><i class="zmdi zmdi-chevron-left"></i></a>
                                            </li>
                                        }
                                        @for (int i = 1; i <= ViewBag.NumPage; i++)
                                        {
                                            <li class="@(ViewBag.PageCur == i ? "active" : "")"><a href="/borrow/index/@i">@i</a></li>
                                        }
                                        @if (ViewBag.NumPage > 1 && ViewBag.PageCur < ViewBag.NumPage)
                                        {
                                            <li>
                                                <a href="/borrow/index/@(ViewBag.PageCur + 1)"><i class="zmdi zmdi-chevron-right"></i></a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <div class="d-flex justify-content-start my-3">
                                    <h4>Total money paid: <span style="color:orangered">$@ViewBag.Total</span>.</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- cart-main-area end -->
            @{Html.RenderPartial("~/Views/Index/Footer.cshtml");}
        </div>
        <!-- JS Files -->
        <script src="https://htmldemo.net/boighor/boighor/js/vendor/jquery.min.js"></script>
        <script src="https://htmldemo.net/boighor/boighor/js/popper.min.js"></script>
        <script src="https://htmldemo.net/boighor/boighor/js/vendor/bootstrap.min.js"></script>
        <script src="https://htmldemo.net/boighor/boighor/js/plugins.js"></script>
        <script src="https://htmldemo.net/boighor/boighor/js/active.js"></script>
    </body>
</html>
}
